.gradient_1{
    width: 450px;
    min-height: 600px;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -90px;
    top: 0px; 
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    z-index: -1;
}

.gradient_2{
    width: 280px;
    min-height: 450px;
   
    border-top-left-radius: 105%;
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: hsl(270, 20%, 96%);
}

.mobile_screen{ 
    width: 25vw;
    min-height: 80vh;
    background-color: white;
    border: 3px solid whitesmoke;
    margin-left: 320px;
    margin-top: 45px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
}

.mobile_container{
    width: 22vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 12px;
    margin-bottom: 8px;
    border-radius: 15%;
    background-color: hsl(270, 20%, 96%);
    

}

.navbar{
    width: 22vw;
    height: 7vw;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    justify-content: center;
    align-items: center;
    margin-top: -5px;

    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

.navbar .avatar{
    position: absolute;
    border: 1px solid white;
    width: 30px;
    border-radius: 100%;
    margin-left: 25px;
    margin-top: 45px;
}

.cut_through{
    width: 15vw;
    height: 2vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20%;
    background-color: white;
    
}

#dogImages{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}


#dogImages .d1, .d2, .d3{
    width: 40px;
    border-radius: 30%;
    margin-top: 18vh;
    padding: 5px;
    flex-basis: 15%;
    margin-right: 5px;
    
    
    
}


.sendMessage{
    width: 18vw;
    height: 4vw;
    margin: auto;
    margin-top: 60vh;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    background-color: white;
    outline: 1px solid rgb(223, 220, 220);
    
}

#messages_1{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80px;
    /* outline: 3px solid white; */
    align-self: left;
    position: absolute;
    margin-top: 100px;
    margin-left: 13px;
    justify-content: space-around;
}

#messages_1 .msg_1, .msg_2{
    
    width: 180px;
    height: 50px;
    /* border: 1px solid red; */
    flex-basis: 40%;
    border-radius: 8px;
    background-color: hsla(267, 13%, 86%, 0.466);
    

}

#messages_2{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80px;
    /* outline: 3px solid black; */
    align-self: center;
    position: absolute;
    margin-top: 270px;
    margin-left: 125px;
    justify-content: space-around;
}


#messages_2 .msg_3, .msg_4{
    
    width: 180px;
    height: 50px;
    /* border: 1px solid red; */
    flex-basis: 40%;
    border-radius: 8px;
    background-color: hsla(267, 13%, 86%, 0.466);
    

}


